.transformation-popover .popover {
    min-width: 100% !important;
    height: 100%;
    margin: 0px !important;
    top: 0px !important;
    left: 0px !important;
    border-radius: 0px;
}

.transformation-popover .arrow {
    display: none !important;
}

.transformation-popover .container {
    margin: 15px 50px;
}

.transformation-popover .popover-title {
    text-align: left;
    padding: 15px 0px 15px 78px !important;
    font-weight: bolder;
}

#attribute-list{
    max-height:290px;
    overflow: auto
}

#attribute-list .row, #wrapper .row{
    text-align: left;
    margin: 0px;
}

.transform-popover-btn {
    margin-top:20px;
    padding-left: 0px;
}

.transform-popover-btn .btn-danger {
    margin-left:0px;
}

.transformation-popover .row{
    padding-bottom: 20px;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.quick-search-box, .quick-search-box .quick-search{
    padding-left: 0px;
}

.quick-search-box .quick-search{
    width: 100%;
    padding-right: 0px;
}

.quick-search-box{
    padding-bottom: 20px;
}

.display-message {
    color: green;
    margin-top: 10px;
}

.modal-body .continue-text {
    color: black;
    margin-bottom: 10px;
}

.radio {
    padding-left: 20px;
    margin-top: 0px;}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-top: 0px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-top: 1px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    outline: none!important;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    margin-top: 1px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #1d9c72;
    outline: none!important;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.close-popover {
    position: absolute;
    right: 0px;
    margin-right: 2%;
    margin-top: 1.5%;
    font-size: 18px;
    cursor: pointer;
}