/*.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e64545;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #e64545;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #e64545; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #e64545; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #e64545; }*/

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding: 10px;
}
.checkbox label::before {
    content: "";
    display: none;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e64545;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #e64545;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }


.object-area{
    margin-left: 0px;
    margin-top: 20px;
}



.force-overflow
{
    min-height: 150px;
    /*margin-left: 10px;*/
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 217px;
    width: 400px;
    background: rgba(238, 238, 238, 0.16);
    overflow: auto;
    /*margin-bottom: 25px;*/
    border: 1px solid #eee;
}
.object01{
    padding: 5px 0px 10px 20px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#wrapper
{
    width: 100%;
    margin: auto;
}



@media (min-width: 375px) and (max-width: 667px) {
    .scrollbar
    {
        margin-left: 0px!important;
    }
    .view,.create, .change{
        margin-top: 20px!important;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 414px) and (max-width: 736px) {
    .scrollbar
    {
        margin-left: 0px!important;
    }
    .view,.create, .change{
        margin-top: 20px!important;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}





/*------------attribute-mapping css-------------*/
.left-object{
    background-color: #faf8f8;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #eee;
    font-size: 12px;
}
.second-object{
    margin-top: 20px;
    margin-bottom: 40px;
}
.view,.create, .change{
    margin-left: 0px;
    margin-top: 0px;
}

@media (max-width: 479px) {
    .view,.create, .change{
        margin-top: 10px;
    }

}
.div1,
.div2,.div3,.div4,.div5 {
    display: block;
    height: 3em;
    line-height: 3em;
    position: relative;
}


/*label:after {*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*background: red;*/
/*z-index: -1;*/
/*}*/



input:checked ~ label {
    color: #fff;
    background-color: #e64545;
    width: 100%;
    /*padding-left: 15px;*/
    border-top: 1px solid #eee;
    border-bottom: 1px solid #e64545;
}
input[type=checkbox], input[type=radio]{
    display: none;
}

label{
    padding-left: 15px;
    width: 100%;
    /*border-bottom: 1px solid #eee;*/
    font-weight: normal;

}
.loader {
    border: 3px solid #f5a6a6; /* Light grey */
    border-top: 3px solid #e64545; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-left: 45%;
    margin-top: -15%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.checkbox+.checkbox{
    margin-top: 0px;
}

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #eee;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    height: 50px;
    background-color: #eee;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #e64545;
}

.new-icon{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color:#000;
}

.new-page {
    width: 100%!important;
    margin: 30px auto;
}


